@import "style.scss";
.product-page {
	width: 50%;
	margin: 40px auto;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	@media only screen and (max-width:767px){
		box-shadow: none;
	}
	.product-details {
		padding: 10px;
		word-wrap: break-word;
		.product-name {
			font-size: 1.6em;
			margin: 5px;
			padding: 5px;
		}
		.product-category {
			font-size: 1.2em;
			padding: 5px;	
			span {
				font-size: 1em;
				color: $mainColor;
				font-family: DosisBold;
			}
		}
		.product-description {
			padding: 5px;
			margin-bottom: 2px;
			word-wrap: break-word;
		}
		.product-price {
			padding: 5px;
			font-weight: bold;
			span {
				color: green;
			}
		}
		.request {
			text-align: center;
			margin: 30px 10px;
			border-radius: 20px;
			background-color: $mainColor;
		}
	}
}
.cart-quantity {
	width: 50%;
    margin: 10px auto;
    padding: 20px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    border-radius: 5px;
    input[name="quantity"]:focus{
    	border-bottom: 1px solid $mainColor !important;
    	box-shadow: 0 1px 0 0 $mainColor !important;
    }
    input[name="add_to_cart"] {
    	background: $mainColor;
    	&:hover {
    		background: $grayColour;
    		color: $whiteColor;
    	}
    	@media only screen and (max-width: 641px){
    		display: block;
    		width: 100%;
    		margin: 5px auto;
    	}
    }
    a {
    	background: $mainColor;
    	&:hover {
    		background: $grayColour;
    		color: $whiteColor;
    	}
    	@media only screen and (max-width: 641px){
    		display: block;
    		width: 100%;
    	}
    }
}